@import '../../styles/variables.module.scss';
@import '../../styles/mixins.module.scss';
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 4vw 2vw;
  padding-top: 2vh;
  label,
  input {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  textarea {
    resize: vertical;
    margin: 10px;
    height: 40vh;
  }
  .button {
    grid-column: span 2;
    font-size: $f3;
    @include centerG;
    padding: $p5;
    button {
      background-color: coral;
      box-shadow: none;
      padding: $p1 $p5;
      color: white;
      font-size: $f4;
    }
  }
}
