@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.card {
  color: white;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  div {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: $f3;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 600px) {
}
