@import 'variables.module';
@import 'mixins.module';
.container {
  main {
    background-color: white;
    height: 93vh;
    display: grid;
    grid-auto-rows: 25vh;
    grid-template-columns: 49vw 49vw;
    grid-gap: 2vw 2vw;
  }
}
@media (max-width: 600px) {
}
