$p1: 5px;
$p2: 10px;
$p3: 15px;
$p4: 20px;
$p5: 25px;
$p6: 30px;
$p7: 35px;
$p8: 40px;
$p9: 45px;
$p10: 50px;

$f1: 5px;
$f2: 10px;
$f3: 15px;
$f4: 20px;
$f5: 25px;
$f6: 30px;
$f7: 35px;
$f8: 40px;

$pc1: #3e37a0;
$pc2: #22547c;
$pc3: #2fdd92;

$sc1: #f2f013;
$sc2: black;
$sc3: gray;
